body {
  margin: 0;
  color: #7d7873;
}

a {
  text-decoration: none;
  color: inherit;
}

.hidden {
  display: none;
}

.highlight {
  color: #f9a92f;
  font-style: italic;
}

.highlight-link, .subtitle {
  text-transform: uppercase;
}

.highlight-link {
  padding-top: 23px;
  border-top: 2px solid #cbcbcb;
  width: 200px;
  text-align: center;
  color: #359c9c;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  &::after {
    content: " >>";
    font-size: 0.6em;
  }
}

.subtitle {
  color: #7d7873;
}