@import 'imports/style.scss';

$max-width: 1100px; 

h2, h3, p, h4, figure, ul {
  margin: 0;
}

ul {
  padding: 0;
}

li {
  list-style: none;
}

.intro,
.team,
.advantage-subtitle {
  text-align: center;
}

.intro-content,
.ceo-section,
.team-members,
.advantages-container,
.ilustrative-pic,
.jobs {
  max-width: $max-width;
  width: 90%;
  margin: 0 auto;
}

.intro-bg {
  height: 55vh;
  background: no-repeat center/cover url('../images/foto-header.png');
  @media (max-width: 800px) {
    background-image: url('../images/foto-header-sm.png');
  }
  position: relative;
}

.title {
  position: absolute;
  top: 62%;
  left: 50%;
  transform: translateX(-50%);
  color: #fff;
  font-size: 50px;
  text-shadow: 0 0 10px rgba(0, 0, 0, 0.8);
  @media (max-width: 520px) {
    top: 55%;
    font-size: 40px;
  }
}

.intro-content {  
  padding: 33px 0 55px;
}

.intro-text {
  margin-bottom: 30px;
}

.about {
  padding: 50px 0;
  background: #f8f8f8;
}

.ceo-section {
  display: flex;
  justify-content: space-between;
}

.ceo-video {
  width: 46.5%;
}

.ceo-words {
  width: 48%;
}

.ceo-highlight {
  margin-top: 13px;
  margin-bottom: 45px;
  display: inline-block;
}

.ceo-subtitle {
  margin-bottom: 13px;
}

@media (max-width: 850px) {
  .ceo-section {
    flex-direction: column;
    justify-content: initial;
    text-align: center
  }

  .ceo-highlight {
    margin-bottom: 24px;
  }

  .ceo-video,
  .ceo-words {
    width: 100%;
  }

  .ceo-words {
    order: -1;
    margin-bottom: 45px;
  }
}

.team-subtitle {
  margin: 55px 0;
}

.team-members {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 1%;
  @media (max-width: 650px) {
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 3%;
  }
  @media (max-width: 350px) {
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 1.5%;
  }
}

.member-img {
  display: block;
  width: 100%;;
}

.advantages-container {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 35px 4.65%;
  padding: 60px 0 55px;
}

.advantage figure{
  flex-direction: column;
}

.advantage figure,
.advantage-subtitle {
  display: flex;
  align-items: center;
  justify-content: center;
}

.advantage-subtitle {
  height: 91px;
}

.advantage-description {
  text-align: justify;
}

.advantages-link {
  justify-self: center;
}

@media (min-width: 878px) {
  .advantages-container {
    grid-template-columns: repeat(3, 1fr); 
  }
  
  .advantages-link {
    grid-column: 2 / 3;
  }
}

.ilustrative-pic,
.ilustrative-pic-img {
  display: block;  
}

.ilustrative-pic-img {
  width: 100%;
}

.jobs {
  padding-bottom: 65px;
}

.jobs-subtitle {
  text-align: center;
  margin: 55px auto 70px;
}

.topic-job {
  margin-bottom: 60px;
  display: inline-block;
}

.jobs-list.loading::before {
  $size: 12px;
  content: "";
  display: block;
  width: $size;
  height: $size;
  border: 4px solid rgba(0,0,0,.2);
  border-radius: 50%;
  border-top-color: rgba(0,0,0,.4);
  animation: spin .5s ease-in-out infinite
}

.job-item:not(:last-child) {  
  margin-bottom: 30px;
}

.job-link {
  display: flex;
  justify-content: space-between;
  @media (max-width: 690px) {
    flex-direction: column;
  }
}

.job-role {
  color: #359c9c;
}

@keyframes spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}