@import 'imports/style.scss';

$max-width: 1100px; 

.intro,
.team,
.advantage-subtitle {
  text-align: center;
}

.intro-content,
.ceo-section,
.team-members,
.advantages-container,
.ilustrative-pic,
.jobs {
  max-width: $max-width;
  width: 90%;
  margin: 0 auto;
}

.ceo-section,
.job-link {
  display: flex;
  justify-content: space-between;
}

.intro-bg {
  height: 70vh; 
  max-height: 450px;
  position: relative;
  background: no-repeat center/cover url('../images/trabalhe-conosco/foto-header.jpg');
  @media (max-width: 550px) {
    height: 50vh;
    background-image: url('../images/trabalhe-conosco/foto-header-sm.jpg');
  }  
}

.title {
  position: absolute;
  top: 61.5%;
  left: 50%;
  transform: translateX(-50%);
  color: #fff;
  font-size: 44px;
  text-shadow: 0 0 10px rgba(0, 0, 0, 0.8);
  @media (max-width: 520px) {
    top: 55%;
    font-size: 40px;
  }
}

.intro-content {  
  padding: 30px 0;
}

.intro-text {
  margin-bottom: 24px;
  line-height: 1.4em;
}

.about {
  padding: 50px 0;
  background: #f8f8f8;
}

.ceo-video {
  width: 46.5%;
}

.ceo-words {
  width: 47.6%;
}

.ceo-subtitle {
  margin-bottom: 8px;
  font-size: 17px;
  letter-spacing: -0.5px;
  margin-top: 2px;
}

.ceo-highlight {
  margin-bottom: 35px;
  display: inline-block;
  font-size: 18px;
  letter-spacing: -0.2px;
}

.ceo-content {
  line-height: 1.45em;
  text-align: justify;
}

@media (max-width: 850px) {
  .ceo-section {
    flex-direction: column;
    justify-content: initial;
    text-align: center
  }

  .ceo-highlight {
    margin-bottom: 24px;
  }

  .ceo-video,
  .ceo-words {
    width: 100%;
  }

  .ceo-words {
    order: -1;
    margin-bottom: 45px;
  }
}

.team-subtitle {
  margin: 52px 0;
  line-height: 1.2em;
}

.team-members {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 1%;
  @media (max-width: 450px) {
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 3%;
  }
  @media (max-width: 280px) {
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 1.5%;
  }
}

.member-img {
  display: block;
  width: 100%;;
}

.member-figcaption {
  display: none;
}

@media (min-width: 960px) {
  .member-figure {
    position: relative;
    &:hover {    
      &::after {
        content: "";
        display: block;
        background-color: rgba(0,0,0,.8);
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
      }
      & .member-figcaption {
        display: initial;
      }
    }
  }
  
  .member-figcaption {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
    z-index: 1;
    font-size: 24px;
    font-weight: bolder;
  }
}

.advantages-container {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 26px 4.65%;
  padding: 60px 0 32px;
}

.advantage figure{
  flex-direction: column;
}

.advantage figure,
.advantage-subtitle {
  display: flex;
  align-items: center;
  justify-content: center;
}

.advantage-subtitle {
  height: 85px;
  .subtitle {
    font-size: 16px;
    letter-spacing: 0.3px;
    transform: translateY(-5px);
  }
}

.advantage-description {
  text-align: justify;
  line-height: 1.48em;
  &:first-child {
    line-height: 1.4em;
  }
}

.advantages-link {
  justify-self: center;
}

@media (min-width: 878px) {
  .advantages-container {
    grid-template-columns: repeat(3, 1fr); 
  }
  
  .advantages-link {
    grid-column: 2 / 3;
  }
}

.ilustrative-pic,
.ilustrative-pic-img {
  display: block;  
}

.ilustrative-pic-img {
  width: 100%;
}

.jobs {
  padding-bottom: 65px;
}

.jobs-subtitle {
  text-align: center;
  margin: 50px auto 64px;
}

.topic-job {
  margin-bottom: 53px;
  display: inline-block;
  letter-spacing: 0.5px;
}

.jobs-list.loading::before {
  $size: 12px;
  content: "";
  display: block;
  width: $size;
  height: $size;
  border: 4px solid rgba(0,0,0,.2);
  border-radius: 50%;
  border-top-color: rgba(0,0,0,.4);
  animation: spin .5s ease-in-out infinite
}

.job-item:not(:last-child) {  
  margin-bottom: 21px;
}

@media (max-width: 690px) {
  .job-link {
    flex-direction: column;
  }
}

.job-role,
.job-local { 
  font-size: 18px;
}

.job-role {
  color: #359c9c;
  letter-spacing: 0.2px;
}

.job-local {  
  letter-spacing: 0.3px;
}