<!DOCTYPE html>
html(lang="pt-br")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    title Trabalhe conosco
    link(rel="stylesheet", href="stylesheets/trabalhe-conosco.css")    
    script(src="javascripts/bundle.js" async defer)
  body
    main
      section.intro
        .intro-bg
          h2.title Trabalhe no Elo7
        .intro-content
          p.intro-text
            | Lorem ipsum dolor sit amet consectetur adipisicing elit.
            | Quisique ut efficitur ex, at malesuada ligula. Pellentesque odio ipsum, viverra
            | a eros sit amet, fringilla sagittis augue.
            | Fusce risus tellus tempus, quis lacinia in, vehicula ut turpis.
          a.highlight-link(href="#jobs") Vagas em aberto
      section.about
        section.ceo-section
          img.ceo-video(src="images/trabalhe-conosco/placeholder-video.png", alt="Vídeo do CEO")
          .ceo-words
            h3.subtitle.ceo-subtitle Palavra do CEO
            strong.highlight.ceo-highlight Carlos Curioni
            p.ceo-content
              | Lorem ipsum dolor sit amet consectetur adipisicing elit.
              | Quisque ut efficitur ipsum risus gravida ex, at malesuada
              | ligula. Pellentesque odio ipsum, viverra a eros sit amet,
              | fringilla sagittis augue. Fusce risus tellus, tempus quis
              | lacinia in, vehicula ut turpis
        section.team
          h3.subtitle.team-subtitle
            | Conheça nosso time
            br
            | fora de série
          .team-members
            a.member(href="#")
              img.member-img(src="images/trabalhe-conosco/funcionarios/camila.jpg", alt="Camila")
            a.member(href="#")
              img.member-img(src="images/trabalhe-conosco/funcionarios/guto.jpg", alt="Guto")
            a.member(href="#")
              img.member-img(src="images/trabalhe-conosco/funcionarios/david.jpg", alt="David")
            a.member(href="#")
              img.member-img(src="images/trabalhe-conosco/funcionarios/beatriz.jpg", alt="Beatriz")
      section.advantages-container
        .advantage
          figure
            img.advantage-img(src="images/trabalhe-conosco/icones/qualidade.png", alt="Ícone de smile")
            figcaption.advantage-subtitle
              h4.subtitle Qualidade de vida
          p.advantage-description
            | Lorem ipsum dolor sit amet consectetur adipisicing elit.
            | Quisque ut efficitur ipsum risus gravida ex, at malesuada
            | ligula. Pellentesque odio ipsum,
        .advantage
          figure
            img.advantage-img(src="images/trabalhe-conosco/icones/descontracao.png", alt="Ícone de mão fazendo símbolo de Rock'n'Roll")
            figcaption.advantage-subtitle
              h4.subtitle Ambiente descontraído
          p.advantage-description
            | Lorem ipsum dolor sit amet consectetur adipisicing elit.
            | Quisque ut efficitur ipsum risus gravida ex, at malesuada
            | ligula. Pellentesque odio ipsum, viverra a eros sit amet,
            | fringilla sagittis augue. Fusce risus tellus, tempus quis
            | lacinia in, vehicula ut turpis
        .advantage
          figure
            img.advantage-img(src="images/trabalhe-conosco/icones/atividades.png", alt="Ícone de paleta")
            figcaption.advantage-subtitle
              h4.subtitle Atividades extras
          p.advantage-description
            | Lorem ipsum dolor sit amet consectetur adipisicing elit.
            | Quisque ut efficitur ipsum risus gravida ex, at malesuada
            | ligula. Pellentesque odio ipsum, viverra a eros sit amet,
            | fringilla sagittis augue. Fusce risus tellus
        a.advantages-link.highlight-link(href="#") Saiba mais
      picture.ilustrative-pic
        source(media="(max-width: 800px)" srcset="images/trabalhe-conosco/foto-bottom-sm.jpg")
        img.ilustrative-pic-img(src="images/trabalhe-conosco/foto-bottom.jpg", alt="Feira de artesanato em um salão com faixa da Elo7")
      section.jobs#jobs
        h3.subtitle.jobs-subtitle Vagas em aberto
        h4.topic-job.subtitle Desenvolvimento
        ul.jobs-list
        span.err-msg.hidden Houve um erro ao exibir as vagas    