<!DOCTYPE html>
html(lang="pt-br")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    title Trabalhe conosco
    link(rel="stylesheet", href="stylesheets/trabalhe-conosco.css")
  body
  main
    section.intro
      .intro-bg
        h2.title Trabalhe no Elo7
      .intro-content
        p.intro-text Lorem ipsum dolor sit amet consectetur adipisicing elit.
          | Atque est aspernatur vero. Aliquam repudiandae nobis quia!
          | Alias, tempore illo ex rerum dolorem dignissimos maiores impedit,
          | animi ipsam voluptate adipisci nesciunt?
        a.highlight-link(href="#") Vagas em aberto
    section.about
      section.ceo-words
        img(src="images/placeholder-video.png", alt="Vídeo do CEO")
        div
      section.team
        h3.subtitle.team-subtitle Conheça o nosso time
          br
          | fora de série
        .team-members
          a(href="#").member
            img.member-img(src="images/camila.png", alt="Camila")
          a(href="#").member
            img.member-img(src="images/guto.png", alt="Guto")
          a(href="#").member
            img.member-img(src="images/david.png", alt="David")
          a(href="#").member
            img.member-img(src="images/beatriz.png", alt="Beatriz")

